.form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
    }
    
    textarea {
      resize: none;
    }
    
    .backdrop-title{
    font-weight:700;
    font-size: 20px;
    line-height:1.15;
    text-align: center;
    color:var(--secondary-text-color);
    margin-bottom: 12px;
    
    }
    
    
    .backdrop-input{
    
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

    &:hover,
    &:focus{
      border: 1px solid var(--accent-color);
    }

    &:hover + .svg-icon-backdrop{
        fill: var(--accent-color);
      }
    }
    
    .backdrop-textarea{
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

    &::placeholder{
        color:   rgba(117, 117, 117, 0.5);  
      }

    &:hover,
    &:focus{
      border: 1px solid var(--accent-color);
    }
    
    }

    
    .checkbox-title{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
    
    }
    
    
    
    .backdrop-btn{
    display:flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    margin-top: 29px;
    padding: 10px 55px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
    &:hover,
    &:focus{
      background-color:#188CE8;;
    }
    }
    
    
    .backdrop-wraper{
      position: relative;
    
    }
    
    
    .svg-icon-backdrop{
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
    
    }
    
    .backdrop-name{
      display: block;
      margin-bottom: 4px;
    }
    
    
   
  
    
    .checkbox-title::before{
      content: '';
      width: 16px;
      height: 15px;
      border: 2px solid #212121;
      background-repeat: 10px;
      display: block;
      cursor: pointer;
      margin-right: 10px;
      
      .checkbox-input:checked + & {
        background-image: url(../images/icon-check.jpg) ;
        background-size: contain;
        border:none;
        
      }

    }

    
    
      
    .backdrop-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color:var(--primary-text-color);
    
    }

    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity 500ms linear, visibility 500ms linear;
      }
       
      
        .modal {
          position: absolute;
          padding: 40px;
          left: 50%;
          top: 50%;
          width: 528px;
          height: 580px;
          background-color: #ffffff;
          transform: translate(-50%, -50%);
      
      }
      
      .close-btn{
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

        &:hover,
        &:focus
        {
          fill:  #2196F3;
        }
        
      }

      .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }