.email-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    
    }
    
    .footer-form{
      margin-left: 93px;
    }
    
    .email-input{
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color:transparent;
    border-radius: 4px;
    color: #ffffff;

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      
      }
    }
    
    
    
    .button-email{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    color: #FFFFFF;
    width: 200px;
    padding: 10px 29px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    border: none;
    cursor: pointer;
    }
    
    .svg-icon-footer{
      display: inline-block;
      vertical-align: sub;
      margin-left: 10px;
    
     }
    