.site__list{
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    
    }
    
    
    .site__item:not(:last-child){
      margin-right: 50px;
    }
  
    .site__link{
      position: relative;
      font-family: Roboto;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color:var(--secondary-text-color );
      transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus{
        color: var(--accent-color);
      }
    }
    

    .site__link.current{
      color:var(--accent-color) ;
    }

      
    .site__nav{
        display: flex;
        align-items: center;
      }

       
    .site__after_link::after{
        content: "";
        display: block;
        width:100% ;
        height:4px ;
        background: #2196F3;
        border-radius: 2px;
        position: absolute;
        top: 46px;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

    