    .filter-btn.current {
    background-color:var(--accent-color) ;
    color: var(--primary-bg-color);
    }
    
    .filter-btn {
    padding:6px 20px ;
    border-radius: 4px ;
    border: none;  
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background:var(--primary-bg-color-filter);
    color: var(--secondary-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
      background-color: var(--accent-color);
      color: #ffffff;
    }
    }
    
    .work-title{
    font-style: normal;
    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    }
    
    .work-profession{
    margin-top: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
    }
    
    
    .container{
     width: 1200px;
     margin-left:auto ;
     margin-right: auto;
     padding-left: 15px;
     padding-right: 15px;
    }
    
    .filter {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
    
    .filter-item:not(:last-child) 
    {
      margin-right: 8px;
    }
      
    .works-list{
      display: flex;
      flex-wrap: wrap;
    }
    
    .works-title{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    
    &:nth-child(3n){
      margin-right: 0px;
    }
    
    &:nth-last-child(-n + 3){
      margin-bottom: 0px;
    }

    &:hover,
    &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .works-p{
      transform: translateY(0%);
    }
    
    }
    
    
    .our-work {
      padding-top: 94px;
      padding-bottom: 94px ;
    }
    
    .text-position{
      padding: 20px 24px;
      
    
    }
    
    .address {
      margin-top: 20px;
      
    }
    
    .address-link{
      margin-bottom: 9px;
      display: block;
    }
    
    
    .footer-list .footer-item:not(:last-child){
      margin-bottom: 9px;
    }
    
    .work-a{
      display: block;
      text-decoration: none;
      color: var(--primary-text-color);
      width: 100%;
      height: 100%;

      &:focus .works-p{
        transform: translateY(0%);
      }
     
    }
    
    
    .works-img{
      position: relative;
      overflow: hidden;
    }
    
    
    .works-p{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    background-color:rgba(33, 150, 243, 0.9);
    color: var(--primary-bg-color);
    overflow: auto;
    padding: 63px 24px;
    
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }
    
 
    
   