
.regular-section{
    padding-top:60px ;
    padding-bottom:60px ;

    @media screen and (min-width: 1200px){
      padding-top:94px ;
      padding-bottom:94px ;

    }
  }
  
  .regular-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--secondary-text-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px){
    margin-bottom: 50px;
  }
  }
  
  .regular-li{
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-bottom: 30px;
 
  &:nth-last-child(-n + 3){
    margin-bottom: 0px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
   
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
   
    
  }
  }

 
  
  .regular-ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  
  .regular-link{
    width: 100%;
    height: 100%;
    fill: #AFB1B8;
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
          fill:var(--accent-color);
          border: 1px solid var(--accent-color); 
    }
    }
  

