.team__section{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:  var(--primary-bg-color-filter);
    
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
    }
    
    .team__name_title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--secondary-text-color);
    }
    
    .team__profession{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color:var(--primary-text-color);
    
    }  
    
    .team__section_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 30px;
    color: var(--secondary-text-color);

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      
    }
    }
    
    
    .team__list{
      
      align-items: center;
      margin-bottom: -30px;
    
      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
      }
    
      @media screen and (min-width: 1200px) {
        display: flex;
        
      }
    }
    
    
    .team__title{
      border-radius: 0px 0px 4px 4px;
      background-color: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      margin-bottom: 30px;
   
  
      @media screen and (min-width: 480px){
        width: 450px;
      }

      @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 2);
        margin-left: 30px;
        width: 450px;
      }
    
      @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 120px) / 4); 
        width: 270px;
      }
    }
    
    .team__name{
     margin:30px ;
    }
    
    .team__link_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #ffffff;
      fill: #AFB1B8;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:not(:last-child){
        margin-right: 10px;
      }
      
      &:hover,
      &:focus{
        background-color: var(--accent-color);
        fill: #ffffff;
      }
    }
    
    .team__icon{
      display: flex;
      justify-content: center;
      margin-top: 16px;
      padding-bottom: 24px;
      
      @media screen and (min-width: 768px){
       padding-bottom: 0px;
      }
      
     
    }